<div class="container">
    <div class="row">
   
        <div class="col"><img src="../../../assets/tetris-titlescreen.jpg" height="auto" width="1100" />
   
          <div>
            <button type="button" class="btn btn-success" [routerLink]="['game']" style="margin:2%">New Game</button>
            <button type="button" class="btn btn-success" [routerLink]="['highscores']" style="margin:2%">Highscores</button>
          </div>
   
        <div class="col"><app-highscores-list></app-highscores-list></div>
    </div>
</div>